{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{listing.title}}</h2>
{% if determinant is 0%}
    <ul>
        <table class="table">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Category</th>
                <th>Current Bid($)</th>
            </tr>    
        <tr>
            <td>{{listing.title}}</td>
            <td>{{listing.description}}</td>
            <td>{{listing.category}}</td>
            <td>{{listing.bid}}</td>
        </tr>
        </table>
    </ul>
<div class="d-flex justify-content-end">
<form action="{% url 'listing' listing.id %}" method="post">
    {% csrf_token %}
        {% if watchlist %}
        <button name="watchlist" type="submit" class="btn btn-light">Remove From Watchlist</button>
        {% else %}
        <button name="watchlist" type="submit" class="btn btn-light">Add to Watchlist</button>
        {% endif %}
</form>
</div>
<br>
<div class="d-flex justify-content-end">
<form action="{% url 'listing' listing.id %}" method="post">
    {% csrf_token %}
    <div class="input-group mb-3">
    <span class="input-group-text">$</span>
    <input type="number" min="{{listing.bid}}" class="form-control" name="newbid" placeholder="Minimum Bid: ${{listing.bid}}"> 
    <button name="bid" type="submit" class="btn btn-primary">Make Bid</button>
    </div>
</form>
</div>
{% endif %}

{% if determinant is 1%}
<ul>
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Category</th>
            <th>Current Bid($)</th>
        </tr>    
    <tr>
        <td>{{listing.title}}</td>
        <td>{{listing.description}}</td>
        <td>{{listing.category}}</td>
        <td>{{listing.bid}}</td>
    </tr>
    </table>
</ul>
<div class="d-flex justify-content-center">
    <form action="{% url 'listing' listing.id %}" method="post">
        {% csrf_token %}
            <button name="close" type="submit" class="btn btn-danger">Close Listing</button>
    </form>
    </div>
{% endif %}

{% if determinant is 2%}
<div class="alert alert-danger" role="alert">
    This auction has closed. You did not win this auction.
</div>
{% endif %}

{% if determinant is 3%}
<div class="alert alert-success" role="alert">
    You have won this auction! Congratulations!
</div>
{% endif %}

{% if determinant is 4%}
<div class="alert alert-warning" role="alert">
    You have closed this auction.
    {% if winner %}
    {% for win in winner %}
    User {{win.winner}} has won the auction.
    {% endfor %}
    {% else %}
    There were no succesful bidders. 
    {% endif %}
  </div>
{% endif %}

{% endblock %}