{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>
    <ul>
        <table class="table">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Current Bid($)</th>
                <th></th>
            </tr>
 
        {% for listing in listings %}
        <tr>
            <td>{{listing.title}}</td>
            <td>{{listing.description}}</td>
            <td>{{listing.bid}}</td>
            <td><a href="{%url 'listing' listing.id %}">View</a></td>
        </tr>
        {% endfor %}
        </table>
    </ul>
{% endblock %}